body {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label, legend {
  font-weight: bold;
}

.formcontrol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &.horizontal {
    flex-direction: row;
  }
}

#input,
#output {
  height: 20em;
  border: 1px solid;
  font-family: monospace;
  padding: 0.5em;
}

#output {
  border-color: gray;
  background-color: #eee;
  white-space: pre;
  overflow: auto;
}
